oreilly-docker-java-shopping/
.git-backup/
.gradle/
build/
out/
.idea/
*.ipr
*.iws
*.iml
.DS_Store

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
